@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

body {
  margin: 0;
  font-family: "Hachi Maru Pop", cursive;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
}

.grid-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(16, 35px);
  grid-auto-rows: 35px;
}

.grid-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.gridCell {
  border-style: solid;
}

.gridCell:hover {
  background-color: crimson;
}

.clear-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
