@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

body {
  margin: 0;
  font-family: "Hachi Maru Pop", cursive;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid16 {
  display: grid;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(16, 37.5px);
  grid-auto-rows: 37.5px;
}

.grid24 {
  display: grid;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(24, 25px);
  grid-auto-rows: 25px;
}

.grid32 {
  display: grid;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(32, 18.75px);
  grid-auto-rows: 18.75px;
}

.grid-selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.gridCell {
  border-style: solid;
  border-color: black;
}

.clear-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0px;
}
